:root {
  --bg-color: #f4f7f6;
  --primary: #2563eb;
  --card-bg: #ffffff;
  --text-main: #1f2937;
  --danger: #ef4444;
  --success: #10b981;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
}

.header {
  background-color: var(--primary);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Usando CSS Grid para dividir a tela em duas colunas */
.painel {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  color: #2563eb;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.308);
}

.card {
  background: var(--card-bg);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Usando Flexbox para o formulário */
.form-grupo {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-grupo label {
  font-weight: 600;
  margin-bottom: 8px;
}

.form-grupo input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
}

.btn-submit {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: #1d4ed8;
}

.veiculo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Flexbox para alinhar os itens da lista do veículo na horizontal */
.veiculo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.bg-danger { background-color: var(--danger); }
.bg-success { background-color: var(--success); }
